params {

	INPUT_CSV = null
	DATA_DIR = null
	REF_DIR = null
	TMP_DIR = null
	OUTPUT_DIR = null

	SPECIES = null
	ASSEMBLY = null
	PROTOCOL = null
	CONTIG_EXCLUDE = null
	CAVESPLIT = null
	ASCAT_PLOIDY = null
	ASCAT_PURITY = null

}

includeConfig 'config/params.config'
includeConfig 'config/singularity.config'
includeConfig 'config/process.config'
