params {

	REF_DIR = "${projectDir}/ref"
	TMP_DIR = "${projectDir}/temp"
	OUTPUT_DIR = "${projectDir}/out"
	DATA_DIR = "/lustre/scratch125/casm/team78/gl6/panprostate/data"
	INPUT_CSV = "${params.DATA_DIR}/input.csv"

	SPECIES = 'Human'
	ASSEMBLY = 'NCBI38'
	PROTOCOL = 'WGS'
	CONTIG_EXCLUDE = 'NC_007605,hs37d5,GL%'
	CAVESPLIT = 350000
	ASCAT_PLOIDY = 3.65
	ASCAT_PURITY = 1.0

}
