// Executor to be used 
process.executor = 'lsf' // slurm, SGE, PBS, etc.

// Partition/Queue to send jobs
process.queue = 'normal' // scu-cpu

executor.perJobMemLimit = true
executor.queueSize = 1000

cache = 'lenient'

process {

	withName: getRefs {
		executor = 'local'
		cpus = 1
		memory = '500MB'
	}
	
	withName: getNames {
		executor = 'local'
		cpus = 1
		memory = '500MB'
	}

	withName: mutect2 {
		container = 'https://depot.galaxyproject.org/singularity/gridss:2.13.2--h270b39a_0'
		cpus = 8
		memory = '32G'
	}

	withName: gridss {
		container = 'https://depot.galaxyproject.org/singularity/gridss:2.13.2--h270b39a_0'
		cpus = 8
		memory = '32G'
	}


	withName: cnInit {
		executor = 'local'
		cpus = 1
		memory = '500MB'
	}	

	withName: cavemanSetup {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		time = '12h'
		cpus = 2
		memory = '1000MB'
	}

	withName: compareBamGenotypes {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 1
		memory = '500M'
	}

	withName: verifyBamHomChkNormal {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 1
		memory = '500M'
	}

	withName: cavemanSplit {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 8
		memory = '4000M'
	}

	withName: ascat {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 8
		memory = '32G'
	}

	withName: brassInput {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 2
		memory = '4000M'
	}

	withName: brassCover {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 8
		memory = '32G'
	}

	withName: prepAscat {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 1
		memory = '500M'
	}

	withName: pindel {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 8
		memory = '32G'
	}

	withName: cavemanContam {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 8
		memory = '32G'
	}

	withName: indexPindelGermline {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 1
		memory = '500M'
	}

	withName: addBrass {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 8
		memory = '32G'
	}

	withName: pindelAnnotation {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 2
		memory = '4000M'
	}

	withName: cavemanFlag {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 8
		memory = '32G'
	}

	withName: cavemanAnnotation {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 2
		memory = '4000M'
	}

	withName: verifyBamHomChkTumor {
		container = 'docker://quay.io/wtsicgp/dockstore-cgpwgs:2.1.1'
		cpus = 1
		memory = '500M'
	}

}
