singularity {
	enabled = true
	autoMounts = true
	cacheDir = 'images'
	runOptions = "--bind /lustre:/lustre"
	/* runOptions = "--cleanenv --bind ${params.REF_DIR}:${params.REF_DIR} --bind ${params.TMP_DIR}:${params.TMP_DIR} --bind ${params.OUTPUT_DIR}:${params.OUTPUT_DIR} --bind ${params.INPUT_CSV}:${params.INPUT_CSV} --bind ${params.DATA_DIR} ${params.DATA_DIR}" */
}
